@using Camunda.Http.Api.Model
@using Camunda.Http.Api

<DataGrid TItem="HistoricTaskInstanceDto" 
          Data="@userTasks" 
          ReadData="@OnReadData" 
          ShowPager="true" 
          TotalItems="@totalUserTasks" 
          PageSize="@PageSize">
    <EmptyTemplate>
        <div class="box">
            No variable instances found!
        </div>
    </EmptyTemplate>

    <LoadingTemplate>
        <div class="box">
            Loading...
        </div>
    </LoadingTemplate>

    <ChildContent>
        <DataGridColumn TItem="HistoricTaskInstanceDto" Field="@nameof(HistoricTaskInstanceDto.Id)" Caption="Task Instance Id"/>
        <DataGridColumn TItem="HistoricTaskInstanceDto" Field="@nameof(HistoricTaskInstanceDto.Assignee)" Caption="Assignee"/>
        <DataGridDateColumn TItem="HistoricTaskInstanceDto" Field="@nameof(HistoricTaskInstanceDto.StartTime)" Caption="Start Time"/>
        <DataGridDateColumn TItem="HistoricTaskInstanceDto" Field="@nameof(HistoricTaskInstanceDto.EndTime)" Caption="End Time"/>
        <DataGridColumn TItem="HistoricTaskInstanceDto" Field="@nameof(HistoricTaskInstanceDto.Name)" Caption="Name"/>
        <DataGridColumn TItem="HistoricTaskInstanceDto" Field="@nameof(HistoricTaskInstanceDto.Priority)" Caption="Priority"/>
        <DataGridColumn TItem="HistoricTaskInstanceDto" Field="@nameof(HistoricTaskInstanceDto.TaskDefinitionKey)" Caption="Task Definition Key"/>
        <DataGridColumn TItem="HistoricTaskInstanceDto" Field="@nameof(HistoricTaskInstanceDto.Duration)" Caption="Duration"/>
    </ChildContent>
</DataGrid>


@code {

    [Parameter]
    public CamundaClient Camunda { get; set; }

    [Parameter]
    public int PageSize { get; set; } = 25;

    [Parameter]
    public string ProcessInstanceId { get; set; }

    private List<HistoricTaskInstanceDto> userTasks;

    private int totalUserTasks;

    async Task OnReadData(DataGridReadDataEventArgs<HistoricTaskInstanceDto> e)
    {
        var query = new HistoricTaskInstanceQueryDto()
        {
            ProcessInstanceId = ProcessInstanceId,
            Sorting = new List<HistoricTaskInstanceQueryDtoSorting>()
            {
                new()
                {
                    SortBy = HistoricTaskInstanceQueryDtoSorting.SortByEnum.StartTime,
                    SortOrder = HistoricTaskInstanceQueryDtoSorting.SortOrderEnum.Desc
                }
            }
        };

        var totalQuery = new HistoricTaskInstanceQueryDto()
        {
            ProcessInstanceId = ProcessInstanceId
        };

        userTasks = await Camunda.Api.HistoricTaskInstanceApi.QueryHistoricTaskInstancesAsync(e.PageSize * (e.Page - 1), e.PageSize, query);

        totalUserTasks = Convert.ToInt32((await Camunda.Api.HistoricTaskInstanceApi.QueryHistoricTaskInstancesCountAsync(totalQuery)).Count);

        StateHasChanged();
    }
}
