@using Camunda.Http.Api.Model
@using Camunda.Http.Api
@using Size = MudBlazor.Size
@using Color = MudBlazor.Color

@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject AppData AppData
@inject ISnackbar Snackbar

<MudTable
    T="ProcessDefinitionDto"
    ServerData="@(new Func<TableState, Task<TableData<ProcessDefinitionDto>>>(GetLatestDefinitionsFromServer))"
    Hover="true"
    @ref="@_parentTable"
    OnRowClick="@OnRowClicked"
    RowsPerPage="PageSize"
    @bind-Loading="@_isLoading">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Key</MudTh>
        <MudTh>Latest Version</MudTh>
        <MudTh>Tenant Id</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Key">@context.Key</MudTd>
        <MudTd DataLabel="Latest Version">@context.Version</MudTd>
        <MudTd DataLabel="Tenant Id">@context.TenantId</MudTd>
    </RowTemplate>

    <ChildRowContent Context="parentContext">
        @if (_selectedSubDefinition?.Id == parentContext.Id)
        {
            <MudTr>
                <td colspan="100">
                    <MudCard Elevation="0" Outlined="true">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.body1">Definitions for Key: @parentContext.Key</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudTable
                                T="ProcessDefinitionDto"
                                @ref="_subTable"
                                ServerData="@(new Func<TableState, Task<TableData<ProcessDefinitionDto>>>(GetDefinitionsByKeyFromServer))"
                                RowsPerPage="SubDefinitionsPageSize"
                                Elevation="0"
                                Hover="false"
                                @bind-Loading="@_isSubLoading">
                                
                                <HeaderContent>
                                    <MudTh></MudTh>
                                    <MudTh>Definition Id</MudTh>
                                    <MudTh>Version</MudTh>
                                    <MudTh>Name</MudTh>
                                    <MudTh>Deployment Id</MudTh>
                                    <MudTh></MudTh>
                                </HeaderContent>

                                <RowTemplate>
                                    <MudTd DataLabel="State">
                                        @if (context.Suspended == false)
                                        {
                                            <MudIcon Icon="@Icons.Outlined.PlayCircleOutline" Color="Color.Tertiary" Title="Active"/>
                                            @if (context.StartableInTasklist == true)
                                            {
                                                <MudIcon Icon="@Icons.Outlined.FactCheck" Color="Color.Tertiary" Title="Tasklist Startable"/>
                                            }
                                        }
                                        else
                                        {
                                            <MudIcon Icon="@Icons.Outlined.PauseCircleOutline" Color="Color.Default" Title="Suspended"/>
                                            @if (context.StartableInTasklist == true)
                                            {
                                                <MudIcon Icon="@Icons.Outlined.FactCheck"  Color="Color.Default" Title="Tasklist Startable"/>
                                            }
                                        }
                                        
                                    </MudTd>
                                    <MudTd DataLabel="Definition Id">@context.Id</MudTd>
                                    <MudTd DataLabel="Version">@context.Version</MudTd>
                                    <MudTd DataLabel="Name">@context.Name</MudTd>
                                    <MudTd DataLabel="Deployment Id">@context.DeploymentId</MudTd>
                                    <MudTd>
                                        <MudIconButton Icon="@Icons.Outlined.Info" OnClick="@(() => OnDetailsClick(context.Id))" Title="Definition Details"/>
                                        <MudIconButton Icon="@Icons.Outlined.NotStarted" OnClick="@(() => OpenProcessDefinitionSuspensionAction(context.Id))" Title="Definition Action"/>
                                        <MudIconButton Icon="@Icons.Outlined.HistoryToggleOff" OnClick="@(() => OpenHistoryTimeToLiveDialog(context.Id))" Title="Change History Time To Live"/>
                                        <MudIconButton Icon="@Icons.Outlined.DeleteForever" OnClick="@(() => OpenProcessDefinitionDeleteDialog(context.Id))" Title="Delete Process Definition"/>
                                    </MudTd>
                                </RowTemplate>

                                <PagerContent>
                                    <MudTablePager/>
                                </PagerContent>
                            </MudTable>
                        </MudCardContent>
                    </MudCard>
                </td>

            </MudTr>
        }
    </ChildRowContent>

    <PagerContent>
        <MudTablePager/>
    </PagerContent>
</MudTable>

@code {

    [Parameter]
    public CamundaClient Camunda { get; set; }

    [Parameter]
    public int PageSize { get; set; } = 50;

    [Parameter]
    public int SubDefinitionsPageSize { get; set; } = 10;

    private MudTable<ProcessDefinitionDto> _parentTable;
    private MudTable<ProcessDefinitionDto> _subTable;

    private List<ProcessDefinitionDto> _definitions;
    private int _totalDefinitions;

    private List<ProcessDefinitionDto> _subDefinitions;
    private int _totalSubDefinitions;

    private ProcessDefinitionDto _selectedSubDefinition;

    bool _isLoading;

    bool _isSubLoading;


    private async Task<TableData<ProcessDefinitionDto>> GetLatestDefinitionsFromServer(TableState state)
    {
        _isLoading = true;
        StateHasChanged();

        try
        {
            _definitions = await Camunda.Api.ProcessDefinitionApi.GetProcessDefinitionsAsync(
                latestVersion: true,
                firstResult: state.PageSize * (state.Page),
                maxResults: state.PageSize);

            _totalDefinitions = Convert.ToInt32((await Camunda.Api.ProcessDefinitionApi.GetProcessDefinitionsCountAsync(latestVersion: true)).Count);

        }
        catch (Exception e)
        {
            AppData.SnackError(Snackbar, "Unable to complete request: " + e.Message);
        }
        

        _isLoading = false;
        StateHasChanged();

        return new TableData<ProcessDefinitionDto>()
        {
            Items = _definitions,
            TotalItems = _totalDefinitions
        };
    }

    private async Task<TableData<ProcessDefinitionDto>> GetDefinitionsByKeyFromServer(TableState state)
    {
        _isSubLoading = true;
        StateHasChanged();

        var defs = await Camunda.Api.ProcessDefinitionApi.GetProcessDefinitionsAsync(
            key: _selectedSubDefinition.Key,
            sortBy: "version",
            sortOrder: "desc",
            firstResult: state.PageSize * (state.Page),
            maxResults: state.PageSize);

        var total = await Camunda.Api.ProcessDefinitionApi.GetProcessDefinitionsCountAsync(
            key: _selectedSubDefinition.Key);

        _isSubLoading = false;
        StateHasChanged();

        return new TableData<ProcessDefinitionDto>()
        {
            Items = defs,
            TotalItems = Convert.ToInt32(total.Count)
        };
    }

    void OnRowClicked(TableRowClickEventArgs<ProcessDefinitionDto> clickedRow)
    {
        if (!clickedRow.Item.Equals(_selectedSubDefinition))
        {
            _selectedSubDefinition = clickedRow.Item;
        }
        else
        {
            _selectedSubDefinition = null;
        }
    }

    void OnDetailsClick(string definitionId)
    {
        NavigationManager.NavigateTo($"process-definitions/{definitionId}");
    }

    
    private async Task OpenProcessDefinitionSuspensionAction(string definitionId)
    {
        var parameters = new DialogParameters
        {
            {"ProcessDefinitionId", definitionId}, 
            {"Camunda", Camunda}
        };
        await DialogService.Show<SuspendAction>("Definition Action", parameters).Result;
        await _subTable.ReloadServerData();
    }
    
    private async Task OpenHistoryTimeToLiveDialog(string definitionId)
    {
        var parameters = new DialogParameters
        {
            {"ProcessDefinitionId", definitionId}, 
            {"Camunda", Camunda}
        };
        await DialogService.Show<UpdateProcessDefinitionHistoryTtlDialog>("History Time to Live Action", parameters).Result;
    }
    
    private async Task OpenProcessDefinitionDeleteDialog(string definitionId)
    {
        var parameters = new DialogParameters
        {
            {"ProcessDefinitionId", definitionId}, 
            {"Camunda", Camunda}
        };
        await DialogService.Show<DeleteProcessDefinitionDialog>("Process Definition Delete Action", parameters).Result;
    }
}