@using Camunda.Http.Api.Model
@using Camunda.Http.Api

@inject AppData AppData

<DataGrid TItem="ProcessDefinitionDto"
          Data="@_definitions"
          ReadData="@OnReadData"
          @bind-SelectedRow="@_selectedDefinition"
          DetailRowTrigger="@((item) => item.Id == _selectedDefinition?.Id)"
          ShowPager="true"
          TotalItems="@_totalDefinitions"
          PageSize="@PageSize"
          Sortable="false">
    <EmptyTemplate>
        <div class="box">
            No process definitions found!
        </div>
    </EmptyTemplate>

    <LoadingTemplate>
        <div class="box">
            Loading...
        </div>
    </LoadingTemplate>

    <ChildContent>
        <DataGridColumn TItem="ProcessDefinitionDto" Field="@nameof(ProcessDefinitionDto.Name)" Caption="Name"/>
        <DataGridColumn TItem="ProcessDefinitionDto" Field="@nameof(ProcessDefinitionDto.Key)" Caption="Key"/>
        <DataGridColumn TItem="ProcessDefinitionDto" Field="@nameof(ProcessDefinitionDto.Version)" Caption="Latest Version"/>
        <DataGridColumn TItem="ProcessDefinitionDto" Field="@nameof(ProcessDefinitionDto.TenantId)" Caption="Tenant"/>
    </ChildContent>

    <DetailRowTemplate>
        <Card Margin="Margin.Is2.OnY">
            <CardHeader>
                <CardTitle>Details</CardTitle>
            </CardHeader>
            <CardBody>
                <Paragraph>Definition Id: @context.Id</Paragraph>
                <Paragraph>Deployment Id: @context.DeploymentId</Paragraph>
                <Paragraph>Description: @context.Description</Paragraph>
                <Paragraph>Resource: @context.Resource</Paragraph>
                <Card Margin="Margin.Is2.OnY">
                    <CardHeader>
                        <CardTitle>Start Form</CardTitle>
                    </CardHeader>
                    <CardBody>
                        <StartableProcessDefinitionsStartFormData Camunda="@Camunda" ProcessDefinitionId="@context.Id"/>
                    </CardBody>
                </Card>
            </CardBody>
        </Card>
    </DetailRowTemplate>

</DataGrid>


@code {

    [Parameter]
    public CamundaClient Camunda { get; set; }

    [Parameter]
    public int PageSize { get; set; } = 50;

    [Parameter]
    public string StartButtonTitle { get; set; } = "Start";


    private List<ProcessDefinitionDto> _definitions;

    private int _totalDefinitions;

    private ProcessDefinitionDto _selectedDefinition;

    private async Task OnReadData(DataGridReadDataEventArgs<ProcessDefinitionDto> e)
    {
        try
        {
            _definitions = await Camunda.Api.ProcessDefinitionApi.GetProcessDefinitionsAsync(
                latestVersion: true,
                active: true,
                startableInTasklist: true,
                startablePermissionCheck: true,
                firstResult: e.PageSize * (e.Page - 1), maxResults: e.PageSize);

            _totalDefinitions = Convert.ToInt32((await Camunda.Api.ProcessDefinitionApi.GetProcessDefinitionsCountAsync(
                latestVersion: true,
                active: true,
                startableInTasklist: true,
                startablePermissionCheck: true
                )).Count);

            StateHasChanged();
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception);
            AppData.PushToSnackBar(exception.Message, SnackbarColor.Danger);
        }
    }

}