@using Camunda.Http.Api
@using Camunda.Http.Api.Model


<DataGrid TItem="HistoricJobLogDto" 
          Data="@jobs" 
          ReadData="@OnReadData" 
          ShowPager="true" 
          TotalItems="@totalJobs" 
          PageSize="@PageSize">
    <EmptyTemplate>
        <div class="box">
            No Historic Job Logs found!
        </div>
    </EmptyTemplate>

    <LoadingTemplate>
        <div class="box">
            Loading...
        </div>
    </LoadingTemplate>

    <ChildContent>
        <DataGridColumn TItem="HistoricJobLogDto" Field="@nameof(HistoricJobLogDto.Id)" Caption="Job Log Id" />
        <DataGridDateColumn TItem="HistoricJobLogDto" Field="@nameof(HistoricJobLogDto.Hostname)" Caption="Hostname" />
        <DataGridDateColumn TItem="HistoricJobLogDto" Field="@nameof(HistoricJobLogDto.Timestamp)" Caption="Timestamp" />
        <DataGridColumn TItem="HistoricJobLogDto" Field="@nameof(HistoricJobLogDto.ActivityId)" Caption="Activity Id" />
        <DataGridColumn TItem="HistoricJobLogDto" Field="@nameof(HistoricJobLogDto.JobId)" Caption="Job Id" />
        <DataGridColumn TItem="HistoricJobLogDto" Field="@nameof(HistoricJobLogDto.JobPriority)" Caption="Job Priority" />
        <DataGridColumn TItem="HistoricJobLogDto" Field="@nameof(HistoricJobLogDto.JobRetries)" Caption="Job Retries" />
    </ChildContent>
</DataGrid>


@code {

    [Parameter]
    public CamundaClient Camunda { get; set; }

    [Parameter]
    public int PageSize { get; set; } = 25;

    [Parameter]
    public string ProcessInstanceId { get; set; }

    private List<HistoricJobLogDto> jobs;

    private int totalJobs;

    async Task OnReadData(DataGridReadDataEventArgs<HistoricJobLogDto> e)
    {
        jobs = await Camunda.Api.HistoricJobLogApi.GetHistoricJobLogsAsync(
            processInstanceId: ProcessInstanceId,
            sortBy: "timestamp",
            sortOrder: "desc"
            );

        totalJobs = Convert.ToInt32((await Camunda.Api.HistoricIncidentApi.GetHistoricIncidentsCountAsync(processInstanceId: ProcessInstanceId)).Count);

        StateHasChanged();
    }


}
